.footer {
	border-top: 1px solid $panel-default-border;
	bottom: 0;
	height: 60px;
  line-height: 60px;
	position: absolute;
	width: 100%;
	font-weight: 300;

	.footer-social-icons {
		font-size: 32px;
		padding-top: 18px;

		a {
			color: #777;
		}
	}
}
