.projects-index {
  .toggler {
    font-size: 2em;
    font-weight: bold;
    color: $gray-darker;
    cursor: pointer;

    &.active {
      color: $gray-base;
    }
  }

  h3 {
    margin-top: 5px;
    margin-right: 10px;
  }

  .add-button {
    margin-top: 5px;

    i {
      margin: 0;
    }
  }

  .projects {
    .item {
      .item-wrapper {
        position: relative;
        background-color: #fff;
        @include transition (all .2s ease);
      }

      .icon {
        width: 32px;
        height: 32px;
        padding-left: 1px;
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        text-align: center;
        @include border-top-radius(100px);
        @include border-bottom-radius(100px);
      }

      .name {
        line-height: 30px;
        font-size: 16px;
      }

      .uuid {
        cursor: pointer;
      }

      .actions {
        font-size: 29px;
        line-height: 29px;
        cursor: pointer;

        .buttons {
          display: none;
        }
      }
    }

    &.grid {
      .item {
        width: 50%;
        @include clearfix;

        &.list-header {
          display: none;
        }

        .item-wrapper {
          padding: 20px;
          @include clearfix;
        }

        .icon {
          float:left;
          margin-right: 10px;
        }

        .name {
          margin-bottom: 10px;
          line-height: 30px;
        }

        .uuid {
          display: block;
          cursor: pointer;
          padding-bottom: 10px;
          border-bottom: 1px solid $panel-inner-border;
        }

        .stats {
          display: block;
          float: left;
          padding-top: 10px;
        }

        .created {
          display: none;
          padding-top: 10px;
        }

        .providers {
          float: right;
          padding-top: 10px;

          img {
            width: 16px;
            height: 16px;
          }
        }

        .actions {
          position: absolute;
          top: 10px;
          right: 20px;

          .buttons {
            display: none;
          }
        }
      }
    }

    &.list {
      .item {

        &.list-header {
          display: block;
          .item-wrapper {
            div {
              font-weight: bold;
            }
          }
        }
        .item-wrapper {
          margin: 0;
          border-top: 1px solid #fff;
          border-radius: 0;
          padding: 10px 20px;
          display: table;
          width: 100%;

          div {
            display: table-cell;
            vertical-align: middle;
          }
        }

        &:first-child {
          .item-wrapper {
            border-top: 1px solid $panel-default-border;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }
        }
        &:last-child {
          .item-wrapper {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }

        .icon-wrapper {
          width: 5%;
        }

        .name {
          line-height: 32px;
          width: 25%;
        }

        .uuid {
          width: 35%;
        }

        .stats {
          width: 10%;

          .stats-label {
            display: none;
          }
        }

        .created {
        }

        .providers {
          width: 15%;

          img {
            height: 32px;
            width: 32px;
          }
        }

        .actions {
          width: 5%;
          text-align: right;
          line-height: 32px;
          .dropdown-menu {
            right: 0;
            left: initial;
          }
          .buttons {
            display: none;
          }
        }
      }
    }
  }
}
