.app-screen {
  .form-control {
    &:disabled {
      color: $gray-light;
    }

    &:focus {
  		box-shadow: none;
  	}
  }

	.help-block {
		font-size: $font-size-small;
	}

	.checkbox, .radio {
		i {
			width: 7px;
			@include transition (all 1s linear);
		}
		input {
			display: none;
		}
		&.disabled {
			color: $gray-light;
		}
	}

	.input-group-addon {
    color: $gray-base;
		i {
	    width: 16px;
	    display: block;
	    font-size: 16px;
		}
	}

  .emojionearea {
    border: 1px solid $input-border !important;

    &.focused {
      border: 1px solid $input-border-focus !important;
      box-shadow: none !important;
    }

    .emojionearea-editor {
      color: $input-color;
    }
  }

  .emojionearea .emojionearea-editor:empty:before {
    color: $input-color-placeholder !important;
  }
}
